{:highlights [{:id #uuid "6241bbb0-86a5-4eb7-b3d7-da7c6d08139b",
               :page 15,
               :position {:bounding {:x1 279.5250183045864,
                                     :y1 98.67500305175781,
                                     :x2 573.7123657166958,
                                     :y2 149.875,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 318.9999938905239,
                                   :y1 98.67500305175781,
                                   :x2 341.7125183045864,
                                   :y2 149.875,
                                   :width 854,
                                   :height 1105.1764705882351}
                                  {:x1 279.5250183045864,
                                   :y1 101.6875,
                                   :x2 573.7123657166958,
                                   :y2 140.88751220703125,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 15},
               :content {:text "第1章 算法概述"},
               :properties {:color "blue"}}
              {:id #uuid "6241bbcc-242b-42ec-bfbc-dc077e16c470",
               :page 15,
               :position {:bounding {:x1 100.46250304579735,
                                     :y1 165.65000304579735,
                                     :x2 463.1601043641567,
                                     :y2 216.84999999403954,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 100.46250304579735,
                                   :y1 165.65000304579735,
                                   :x2 148.86976012587547,
                                   :y2 216.84999999403954,
                                   :width 854,
                                   :height 1105.1764705882351}
                                  {:x1 148.86249694228172,
                                   :y1 168.66249999403954,
                                   :x2 463.1601043641567,
                                   :y2 207.86249694228172,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 15},
               :content {:text "1.1 算法和数据结构"},
               :properties {:color "blue"}}
              {:id #uuid "6241be4e-a7ca-482c-a8af-7ccd57dba845",
               :page 23,
               :position {:bounding {:x1 198.8548522889614,
                                     :y1 742.1875381469727,
                                     :x2 492.21010741591454,
                                     :y2 781.3875350952148,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 198.8548522889614,
                                   :y1 742.1875381469727,
                                   :x2 492.21010741591454,
                                   :y2 781.3875350952148,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 23},
               :content {:text "什么是数据结构"},
               :properties {:color "blue"}}
              {:id #uuid "6241be61-f969-43ce-b50c-046ad0c2ec14",
               :page 16,
               :position {:bounding {:x1 199.29664000868797,
                                     :y1 867.7750091552734,
                                     :x2 413.26235350966454,
                                     :y2 906.9750213623047,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 199.29664000868797,
                                   :y1 867.7750091552734,
                                   :x2 413.26235350966454,
                                   :y2 906.9750213623047,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 16},
               :content {:text "什么是算法"},
               :properties {:color "blue"}}
              {:id #uuid "6241be85-1c42-4168-a1fb-616f77cfc583",
               :page 26,
               :position {:bounding {:x1 100.46250304579735,
                                     :y1 625.0875244140625,
                                     :x2 384.2123962342739,
                                     :y2 676.2875061035156,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 100.46250304579735,
                                   :y1 625.0875244140625,
                                   :x2 148.86976012587547,
                                   :y2 676.2875061035156,
                                   :width 854,
                                   :height 1105.1764705882351}
                                  {:x1 148.86249694228172,
                                   :y1 628.1125183105469,
                                   :x2 384.2123962342739,
                                   :y2 667.3125305175781,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 26},
               :content {:text "1.2 时间复杂度"},
               :properties {:color "blue"}}
              {:id #uuid "6241bf51-260e-421a-be83-869b3c17262e",
               :page 29,
               :position {:bounding {:x1 100.46250304579735,
                                     :y1 363.45001220703125,
                                     :x2 531.6907592713833,
                                     :y2 414.6500244140625,
                                     :width 854,
                                     :height 1105.1764705882351},
                          :rects ({:x1 100.46250304579735,
                                   :y1 363.45001220703125,
                                   :x2 177.91013488173485,
                                   :y2 414.6500244140625,
                                   :width 854,
                                   :height 1105.1764705882351}
                                  {:x1 177.91249999403954,
                                   :y1 366.4750061035156,
                                   :x2 531.6907592713833,
                                   :y2 405.67498779296875,
                                   :width 854,
                                   :height 1105.1764705882351}),
                          :page 29},
               :content {:text "1.2.2 基本操作执行次数"},
               :properties {:color "blue"}}],
 :extra {:page 66}}
